#ignore entire node_modules directory
node_modules/

#ignore environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Optional: coverage reports from testing
coverage/

# Optional: build or dist folders (if you transpile code)
dist/
build/

# Optional: IDE/editor settings
.vscode/
.idea/
